<div class="container mt-4 pt-4 text-center" id="about">
    <h1>About Me</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8">
            <p>A backend developer keeps systems running smoothly from behind the scenes—which is no small feat.</p>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>Name: Vineet Gupta</li>
                        <li>Age: 26</li>
                        <li>Occupation: Full Stack Java Developer</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-10">
                    <p>With three years of experience as a Java developer, I've honed my skills in maintaining and enhancing profiles within applications. This includes implementing user authentication and authorization features, managing user data securely, and optimizing profile-related functionalities for performance and usability. My experience also extends to integrating profile management systems with other modules and ensuring seamless user experiences across platforms.</p>
                </div>
            </div>
        </div>
    </div>
</div>
