<div class="container mt-4">
    <header class="text-center mb-4">
      <h1 class="display-4">About Me</h1>
      <p class="lead">Learn more about my background, skills, and passions.</p>
    </header>
  
    <section class="text-center mb-4">
      <!-- <img src="assets/images/profile.jpg" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 200px;"> -->
      <h2 class="mt-3">Hi, I'm Vineet!</h2>
      <p class="lead">With three years of experience as a Java developer, I've honed my skills in maintaining and enhancing profiles within applications. This includes implementing user authentication and authorization features, managing user data securely, and optimizing profile-related functionalities for performance and usability. My experience also extends to integrating profile management systems with other modules and ensuring seamless user experiences across platforms.</p>
    
    </section>
  
    <!-- <section class="mb-4">
      <h2>Background</h2>
      <p>I have over [X] years of experience in the tech industry, specializing in front-end and back-end development. My journey began with a fascination for coding and has evolved into a career where I continuously challenge myself to learn and grow.</p>
      <ul>
        <li><strong>Education:</strong> Bachelors Degree in Computer Science from [Your University]</li>
        <li><strong>Experience:</strong> Previous roles include [Previous Job Titles] at [Previous Companies]</li>
        <li><strong>Skills:</strong> Proficient in Angular, TypeScript, JavaScript, HTML, CSS, and more</li>
      </ul>
    </section> -->
  
    <section class="mb-4">
      <h2>Passions and Interests</h2>
      <p>Outside of coding, I have a variety of interests including Quick Learner,Travelling,Playing Games,Watching Movies,Learning New Technology. I believe in the importance of a balanced life and often spend time | How You Spend Your Free Time ?.</p>
    </section>
  
    <section class="mb-4">
      <h2>Contact Me</h2>
      <p>If you'd like to get in touch, feel free to reach out via the following:</p>
      <ul>
        <li><strong>Email: </strong> <a href="mailto:guptavineet287&#64;gmail.com">guptavineet287&#64;gmail.com</a></li>
        <li><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/vineet-gupta-30792916b" target="_blank">Vineet Gupta</a></li>
        <li><strong>Twitter: </strong> <a href="https://x.com/vineet2013" target="_blank">Vineet2013</a></li>
        <!-- <li><strong>Instagram: </strong> <a href="https://x.com/vineet2013" target="_blank">Vineet2013</a></li> -->
      </ul>
    </section>
  
    <footer class="text-center mt-4">
      <p>&copy; 2024 Vineet's Website. All rights reserved.</p>
    </footer>
  </div>
  