<div class="bootstrap-wrapper">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login Here !</h1>

        <form [formGroup]="login" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required type="password">
          </mat-form-field>

          <div class="text-center">
            <button mat-raised-button color="primary" type="submit">Login</button><br><br>
            <button mat-raised-button color="accent" type="reset">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
