mat-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 1rem;
  }
  
  button {
    display: block;
    width: 100%;
  }

  .success-snackbar {
  background-color: green;
  color: white;
}

.error-snackbar {
  background-color: red;
  color: white;
}

  