<div class="container mt-5">
    <div class="text-center">
        <h1>Vineet Gupta</h1>
        <p>Email: <a href="mailto:guptavineet287&#64;gmail.com">guptavineet287&#64;gmail.com</a> | Phone: 7007969181</p>
        <p>
            GitHub: <a href="https://github.com/vineet1008" target="_blank">&#64;vineet1008</a> | <!--@-->
            LinkedIn: <a href="https://www.linkedin.com/in/vineet-gupta-30792916b" target="_blank">Vineet Gupta</a>
        </p>
    </div>

    <hr>

    <h3>Skills</h3>
    <ul>
        <li>Java, Spring Boot, Spring MVC, Hibernate, Microservices, JSP, AWS, C</li>
        <li>HTML, CSS, JavaScript, Bootstrap, Ajax, jQuery</li>
        <li>MySQL, Oracle</li>
    </ul>

    <hr>

    <h3>Experience</h3>

    <h4>Java Developer | Network People Solution Ltd (05/2023 - Present)</h4>
    <ul>
        <li>Project: IMPS Server Development</li>
        <li>Technologies: Spring Boot, RESTful APIs, Java, Hibernate, Oracle</li>
        <li>Spearheaded the development of RESTful APIs using Spring Boot, enabling real-time fund transfer capabilities for the IMPS server.</li>
        <li>Enhanced data integrity and security through comprehensive error handling and validation mechanisms across API endpoints.</li>
        <li>Played a crucial role in debugging and troubleshooting, ensuring the IMPS server's optimal performance and stability.</li>
        <li>Successfully led the NPCI certification process, achieving compliance within a tight timeline through effective collaboration and technical leadership.</li>
        <li>Provided bespoke technical solutions and support to key clients like Canara Bank and Kerala Gramin Bank, aligning with their unique requirements and fostering strong partnerships.</li>
    </ul>

    <h4>Software Engineer | Velocis Solution Private Ltd (05/2022 - 05/2023)</h4>
    <ul>
        <li>Project: Railway Information System Enhancement</li>
        <li>Technologies: JSP, Spring MVC, Hibernate, JPA, HTML, CSS, JavaScript, Bootstrap, Ajax</li>
        <li>Engineered enhancements and resolved critical issues within railway information systems, significantly improving functionality and user experience.</li>
        <li>Utilized a diverse technology stack to develop efficient, robust solutions, demonstrating advanced proficiency in Java development.</li>
        <li>Initiated and implemented new features, ensuring they aligned with project requirements and significantly enhanced application usability.</li>
        <li>Conducted extensive debugging and troubleshooting, addressing bugs and technical issues to ensure the application's reliability and optimal performance.</li>
        <li>Streamlined development processes and improved project delivery through effective collaboration with business analysts and quality assurance engineers.</li>
        <li>Client – Centre for Railway Information Systems (CRIS).</li>
    </ul>

    <h4>Technical Support | Thomson Digital Ltd (11/2021 - 05/2022)</h4>
    <ul>
        <li>Project: Dynamic Website Support and Development</li>
        <li>Technologies: Java, Spring MVC, Hibernate, JPA, MySQL, WinSCP</li>
        <li>Key contributor to the backend development and maintenance of a dynamic website, leveraging Java technologies to ensure robust performance.</li>
        <li>Designed and managed a MySQL database schema, optimizing data storage and retrieval processes for the website's backend operations.</li>
        <li>Developed and integrated critical backend features such as user authentication and API integration, enhancing the website's overall user experience.</li>
        <li>Collaborated seamlessly with frontend developers to ensure a cohesive, responsive web application, improving cross-functional team efficiency.</li>
    </ul>

    <h4>Web Developer | Rapid Staffing And Training Solution (04/2021 - 09/2021)</h4>
    <ul>
        <li>Project: Web Development for Business Solutions</li>
        <li>Technologies: PHP, MySQL, HTML, CSS, JavaScript</li>
        <li>Led the end-to-end design and development of visually appealing and functionally robust websites for diverse clients, ensuring high performance and scalability.</li>
        <li>Architected dynamic and interactive web applications using the PHP technology stack, integrating e-commerce features and content management systems to meet business needs.</li>
        <li>Fostered strong client relationships by translating business requirements into innovative web solutions, aligning with branding and marketing objectives.</li>
    </ul>

    <hr>

    <h3>Training Certificates</h3>
    <ul>
        <li>J2EE & J2SE, TechSoft India Lucknow (02/2018 – 04/2018)</li>
        <li>Web Development, Netcamp Solutions Private Limited Ghaziabad (06/2019)</li>
        <li>Android App Development, Industrial Training, Netcamp Solutions Private Limited Ghaziabad (06/2019)</li>
    </ul>

    <hr>

    <h3>Education</h3>
    <ul>
        <li>B.Tech Computer Science And Engineering, Babu Banarasi Das University Lucknow (2016 - 2020)</li>
        <li>XII (CBSE), Aatreya Academy (2015 - 2016)</li>
        <li>X (CBSE), Aatreya Academy (2013 - 2014)</li>
    </ul>

    <hr>

    <h3>Hobbies</h3>
    <ul>
        <li>Quick Learner</li>
        <li>Travelling</li>
        <li>Playing Games</li>
        <li>Watching Movies</li>
        <li>Learning New Technology</li>
    </ul>
</div>
